<!DOCTYPE html>
<html lang="en"> 
<%- include('./head.ejs')  %>
<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Image</th>
                <th>Link</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
          <%  singers.forEach((singer,index)=>{ %>
           <%- include('./row.ejs',{singer,index}) %>
           <% }) %>

        </tbody>
    </table>
    <a href="/add">Add new singer</a>
</body>

</html>
<script src="reload/reload.js"></script>